<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:drake="http://drake.mit.edu" name="generated_robot">
  <link name="terrain">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="1.5 0.5 0.05" />
      </geometry>
      <material name="base_mat">
        <color rgba="0.5 0.5 0.5 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="1.5 0.5 0.05" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.745 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_0_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.745 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.7197457627118644 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_1_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.7197457627118644 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.6944915254237288 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_2_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.6944915254237288 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.6692372881355932 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_3_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.6692372881355932 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.6439830508474577 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_4_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.6439830508474577 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.6187288135593221 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_5_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.6187288135593221 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.5934745762711864 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_6_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.5934745762711864 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.5682203389830508 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_7_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.5682203389830508 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.5429661016949152 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_8_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.5429661016949152 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.5177118644067796 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_9_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.5177118644067796 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.49245762711864405 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_10_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.49245762711864405 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.46720338983050846 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_11_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.46720338983050846 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.4419491525423729 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_12_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.4419491525423729 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.4166949152542373 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_13_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.4166949152542373 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.39144067796610166 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_14_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.39144067796610166 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.3661864406779661 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_15_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.3661864406779661 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.3409322033898305 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_16_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.3409322033898305 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.3156779661016949 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_17_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.3156779661016949 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.2904237288135593 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_18_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.2904237288135593 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.2651694915254237 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_19_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.2651694915254237 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.2399152542372881 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_20_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.2399152542372881 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.21466101694915252 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_21_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.21466101694915252 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.18940677966101693 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_22_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.18940677966101693 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.16415254237288135 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_23_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.16415254237288135 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.13889830508474577 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_24_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.13889830508474577 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.11364406779661018 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_25_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.11364406779661018 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.0883898305084746 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_26_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0883898305084746 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.0631355932203389 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_27_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0631355932203389 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.03788135593220332 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_28_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.03788135593220332 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="-0.012627118644067736 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_29_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.012627118644067736 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.012627118644067847 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_30_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.012627118644067847 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.03788135593220343 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_31_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.03788135593220343 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.06313559322033901 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_32_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.06313559322033901 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.0883898305084746 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_33_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0883898305084746 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.11364406779661018 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_34_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.11364406779661018 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.13889830508474577 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_35_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.13889830508474577 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.16415254237288135 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_36_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.16415254237288135 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.18940677966101693 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_37_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.18940677966101693 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.21466101694915263 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_38_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.21466101694915263 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.2399152542372882 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_39_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.2399152542372882 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.2651694915254238 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_40_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.2651694915254238 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.29042372881355927 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_41_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.29042372881355927 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.31567796610169496 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_42_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.31567796610169496 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.34093220338983066 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_43_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.34093220338983066 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.36618644067796613 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_44_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.36618644067796613 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.3914406779661018 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_45_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.3914406779661018 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.4166949152542373 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_46_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.4166949152542373 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.441949152542373 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_47_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.441949152542373 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.46720338983050846 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_48_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.46720338983050846 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.49245762711864416 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_49_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.49245762711864416 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.5177118644067796 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_50_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.5177118644067796 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.5429661016949153 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_51_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.5429661016949153 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.5682203389830508 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_52_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.5682203389830508 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.5934745762711865 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_53_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.5934745762711865 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.6187288135593222 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_54_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.6187288135593222 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.6439830508474577 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_55_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.6439830508474577 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.6692372881355934 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_56_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.6692372881355934 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.6944915254237288 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_57_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.6944915254237288 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.7197457627118645 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_58_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.7197457627118645 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <visual>
      <origin xyz="0.745 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <material name="bump_59_mat">
        <color rgba="0.4 0.4 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.745 0.0 0.0275" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.5 0.005" />
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic />
        <drake:hydroelastic_modulus value="5e7" />
        <drake:hunt_crossley_dissipation value="1.0" />
        <drake:resolution_hint value="0.01" />
        <drake:mu_static value="0.15" />
        <drake:mu_dynamic value="0.12" />
      </drake:proximity_properties>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1.0" />
      <inertia ixx="0.021041666666666667" ixy="0" ixz="0" iyy="0.1877083333333333" iyz="0" izz="0.20833333333333331" />
    </inertial>
  </link>
</robot>